

<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
    <a href="/">Home</a>
    <% if(user) { %>
  <div class="navbar">
    <h1 id="nav-header">Tracker Shoes</h1>
    <a href="/users/<%=user._id%>/shoes">View my Closet</a>
    <a href="/auth/sign-out">Sign Out</a>
  </div>
  <div class="nav-bar">
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </div>
</nav>

