<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Shoe</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Shoe</h1>

    <form action="/users/<%=user._id_%>/shoes" method="POST">

    <label for="shoeType">Shoe Type:</label>
    <input type="text" name="shoeType" id="shoeType"/>

    <label for="price">Price:</label>
    <input type="text" name="price" id="price"/>

    <label for="size">Size:</label>
    <input type="text" name="size" id="size"/>

    <label for="intrestLevel">Intrest Level:</label>
    <input type="text" name="intrestLevel" id="intrestLevel"/>

    <button type="submit">Add Shoe</button>

    </form>

</body>
</html>